
body{
    background-color: black;
    margin: 0;
}

.container {
    width: 1040px;
    margin: auto;
    padding: 0;
}

.site-header{
    background-color: #3A015C;
}

ul{
    list-style: none;
}
.main-nav{
    display: flex;
    justify-content: space-between;
}

.contacts-menu{
    display: flex;
    justify-content: space-around;
}

.site-menu{
    font: 14px Comic Sans MS;
    color: white;
    display: flex;
    flex-direction: row;
}

.about-us{
    background-color: #000000;
    display: flex;
    justify-content: space-around;
}

.to-the-moon{
    width: 440px;
}

.title{
    color: white;
    font: 45px Arial Black;
}

p{
    color:white;
    font: 14px 	Comic Sans MS;
}

.features-list{
    padding: 0px;
    font: 14px 	Comic Sans MS;
    color: white;
    background-color: #3A015C;
    display: flex;
    justify-content: space-around;
}

.feature-made-in-russia{
    display: flex;
    flex-direction: column;
}

.feature-made-in-russia img{
    display: flex;
    width: 70px;
    align-content: flex-start;
}

.feature-food{
    display: flex;
    flex-direction: column; 
}

.feature-food img{
    display: flex;
    width: 70px;
    align-content: flex-start;
}


.feature-pilots{
    display: flex;
    flex-direction: column; 
}

.feature-pilots img{
    display: flex;
    width: 70px;
    align-content: flex-start;
}


.feature-moon-rover{
    display: flex;
    flex-direction: column; 
}

.feature-moon-rover img{
    display: flex;
    width: 70px;
    align-content: flex-start;
}

.recommendations{
    background-color: #FFFFFA;
}

.map{
    margin: 40px;
    width: 440px;
}

.boring{
    margin: 40px;
}

.boring p{
    font: Comic Sans MS 14px;
    width: 440px;
    color: black;
}

.upper{
    width: 960px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

h3{
    font: Courier New 24px;
}

a{
    color: white
}